/* You can add global styles to this file, and also import other style files */
body.light {
    --color-bg: #f8f8ff;
    --color-text: black;
}

body.dark {
	--color-bg: black;
	--color-text: white;
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-bg);
	color: var(--color-text);
	font-family: "Abel", sans-serif;
}
