body.light {
	--color-bg: #de9b89;
	--color-text: #000000;
}

body.dark {
	--color-bg: black;
	--color-text: white;
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-bg);
	color: var(--color-text);
	font-family: "Abel", sans-serif;
}
