<div class="transportContainer">
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <app-transport-blank></app-transport-blank>
  <div class="transport">
    <div class="transportLight transportLightActive" [ngStyle]="{left: pos * 85 + 'px'}"></div>
  </div>
</div>
